[submodule "Hazel/vendor/spdlog"]
	branch = v1.x
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	branch = 3.3-stable
	path = Hazel/vendor/GLFW
	url = https://github.com/glfw/glfw
